<div class="form-group">
    <form>
        <label>Hdfs Endpoint</label>
        <label>{endpoint.json}</label>
        <div class="form-group" ng-show="endpoint.type === endpoint.types.basic">
            <label>Ip</label>
            <input type="text" ng-readonly="endpoint.readOnly" class="form-control" id="endpointIp" placeholder="endpointIp" ng-model="endpoint.basic.ip">
            <label>Port</label>
            <input type="text" ng-readonly="endpoint.readOnly" class="form-control" id="endpointPort" placeholder="endpointPort" ng-model="endpoint.basic.port">
            <label>User</label>
            <input type="text" ng-readonly="endpoint.readOnly" class="form-control" id="endpointUser" placeholder="endpointUser" ng-model="endpoint.basic.user">
        </div>
        <div class="form-group" ng-show="endpoint.type === endpoint.types.xml">
            <label>XmlPath</label>
            <input type="text" ng-readonly="endpoint.readOnly" class="form-control" id="endpointXml" placeholder="endpointXml" ng-model="endpoint.xml.xmlPath">
            <label>User</label>
            <input type="text" ng-readonly="endpoint.readOnly" class="form-control" id="endpointUser" placeholder="endpointUser" ng-model="endpoint.xml.user">
        </div>
    </form>
</div>