<!-- <div class="jumbotron" ng-controller="NHopsDeleteController as hopsCtrl">

    <form>
        <div>
            <div class="row">
                <div class="col-md-4 text-center"></div>
                <div class="col-md-4 text-center">
                    <h2>Hops Delete</h2>
                </div>
                <div class="col-md-4 text-center"></div>
            </div>
        </div>
        <div class="form-group">
            <label >Hops Ip</label>
            <input type="text" class="form-control" id="inputHopsIp" placeholder="Hops IP" ng-model="hopsCtrl.hopsIp">
        </div>
        <div class="form-group">
            <label >Hops Port</label>
            <input type="text" class="form-control" id="inputHopsPort" placeholder="Hops Port" ng-model="hopsCtrl.hopsPort">
        </div>
        <div class="form-group">
            <label >Directory Path</label>
            <input type="text" class="form-control" id="inputDirPath" placeholder="DirPath" ng-model="hopsCtrl.dirPath">
        </div>
        <div class="form-group">
            <label >Filename</label>
            <input type="text" class="form-control" id="inputFilename" placeholder="Filename" ng-model="hopsCtrl.fileName">
        </div>
         <div class="form-group">
            <label >User</label>
            <input type="text" class="form-control" id="inputUser" placeholder="User" ng-model="hopsCtrl.user">
        </div>
        <div class="form-group" style="padding-left:0;">
            <div style="padding-left: 0;">
                <button class="btn btn-default" ng-click="hopsCtrl.delete()">
                    <label>Delete</label>
                    <i class="glyphicon glyphicon-download"></i>
                </button>
                
                <div class="form-group" ng-if="hopsCtrl.report" style="margin-top:5px; display: inline-block;">
                    <label> Delete {{hopsCtrl.result.config.data}} with status <b style="color:green;">{{hopsCtrl.result.statusText}}</b> </label>
                </div>
            </div>
        </div>

    </form>
</div> -->