<div class="jumbotron" ng-controller="NHopsDownloadController">

    <form>
        <label>HOPS Download</label>
        <div ng-include="'partials/nHdfsResource.html'"></div>

        <input ng-model="selectKafka" type=checkbox>Kafka
        <div ng-show="selectKafka" ng-include="'partials/nKafkaResource.html'"></div>
        
        <div class="form-group">
            <label >Identifier</label>
            <input type="text" class="form-control" id="inputTorrentId" placeholder="TorrentId" ng-model="torrentId">
            <label >Partner Ip</label>
            <input type="text" class="form-control" id="inputPartnerIp" placeholder="PartnerIp" ng-model="partnerIp">
            <label >Partner Port</label>
            <input type="text" class="form-control" id="inputPartnerPort" placeholder="PartnerPort" ng-model="partnerPort">
            <label >Partner Id</label>
            <input type="text" class="form-control" id="inputPartnerId" placeholder="PartnerId" ng-model="partnerId">
        </div>

        <button class="btn btn-default">
            <label>Download</label>
            <i class="glyphicon glyphicon-download"></i>
        </button>
    </form>
</div>