<div class="jumbotron" ng-controller="NHopsUploadController">
    <form>
        <label>HOPS Upload</label>
        <div class="form-group" ng-include="'partials/nHdfsResource.html'"></div>
        <div class="form-group">
            <label >Identifier</label>
            <input type="text" class="form-control" id="inputTorrentId" placeholder="TorrentId" ng-model="torrentId">
            <button class="btn btn-default" ng-click="upload()">
                <label>Upload</label>
                <i class="glyphicon glyphicon-upload"></i>
            </button>
            </div>
        </div>
    </form>
</div>