<div class="jumbotron" ng-controller="NHopsStopController">

    <form>
        <label>HOPS Stop</label>
        <label >Filename</label>
        <input type="text" class="form-control" id="inputFilename" placeholder="Filename" ng-model="fileName">
        <label >Identifier</label>
        <input type="text" class="form-control" id="inputTorrentId" placeholder="TorrentId" ng-model="torrentId">
        <button class="btn btn-default" ng-click="stop()">
            <label>Stop</label>
            <i class="glyphicon glyphicon-download"></i>
        </button>
    </form>
</div>