<div class="form-group" ng-controller="NKafkaResourceController">
  <form>
    <label>KafkaResource</label>
    <div ng-include="'partials/nKafkaEndpoint.html'"></div>
    <div class="form-group">
      <label >Kafka Project</label>
      <input type="text" class="form-control" id="inputKafkaProject" placeholder="Kafka Project" ng-model="resource.projectId">
      <label >Kafka Topic</label>
      <input type="text" class="form-control" id="inputKafkaTopic" placeholder="Kafka Topic" ng-model="resource.topicName">
      <label >Kafka KeyStore</label>
      <input type="text" class="form-control" id="inputKafkaKeyStore" placeholder="Kafka KeyStore" ng-model="resource.keyStore">
      <label >Kafka TrustStore</label>
      <input type="text" class="form-control" id="inputKafkaTrustStore" placeholder="Kafka TrustStore" ng-model="resource.trustStore">
    </div>
  </form>
</div>