<div class="form-group">
  <form>
    <label>KafkaResource</label>
    <div class="form-group">
      <label >Kafka Topic</label>
      <input ng-readonly="resource.readOnly" type="text" class="form-control" id="inputKafkaTopic" placeholder="Kafka Topic" ng-model="parent.kafkaResource.topicName">
      <label >Kafka Session</label>
      <input ng-readonly="resources.readOnly" type="text" class="form-control" id="inputKafkaSession" placeholder="Kafka Session" ng-model="parent.kafkaResource.sessionId">
    </div>
  </form>
</div>