<div class="container">
        <div ng-include="'partials/nVoDEndpoint.html'"></div>
        <div ng-include="'partials/nRestServerSet.html'"></div>
        <!--<div ng-include="'partials/nContents.html'"></div>
        <div ng-include="'partials/nTorrentStatus.html'"></div>
        <div ng-include="'partials/nHopsUpload.html'"></div>
        <div ng-include="'partials/nHopsDownload.html'"></div>
        <div ng-include="'partials/nHopsStop.html'"></div>
        <div ng-include="'partials/nHopsDelete.html'"></div>
        <div ng-include="'partials/nHopsCreate.html'"></div>
        <div ng-include="'partials/nHopsConnection.html'"></div> -->
</div>