<div class="jumbotron">
  <div>
    <label>
      <input type="checkbox" ng-model="nRestServerSet"> nRestServerSet
    </label></br>
    <label>
      <input type="checkbox" ng-model="nHdfsEndpointSet"> nHdfsEndpointSet
    </label></br>
    <label>
      <input type="checkbox" ng-model="nKafkaEndpointSet"> nKafkaEndpointSet
    </label></br>
    <label>
      <input type="checkbox" ng-model="nHTContents"> nHTContents
    </label></br>
    <!--<label>
      <input type="checkbox" ng-model="nTorrentStatus"> nTorrentStatus
    </label></br> -->
    <label>
      <input type="checkbox" ng-model="nHTUpload"> nHTUpload
    </label></br>
    <label>
      <input type="checkbox" ng-model="nHTDownload"> nHTDownload
    </label></br>
    <label>
      <input type="checkbox" ng-model="nHTStop"> nHTStop
    </label></br>
    <!--<label>
      <input type="checkbox" ng-model="nHopsDelete"> nHopsDelete
    </label></br>
    <label>
      <input type="checkbox" ng-model="nHopsCreate"> nHopsCreate
    </label></br>
    <label>
      <input type="checkbox" ng-model="nHopsAvroCreate"> nHopsAvroCreate
    </label></br> -->
    <label>
      <input type="checkbox" ng-model="nVoDEndpoint"> nVoDEndpoint
    </label></br>
   <!--  <label>
      <input type="checkbox" ng-model="nHopsConnection"> nHopsConnection
    </label></br> -->
    <label>
      <input type="checkbox" ng-model="nGraphs"> nGraphs
    </label></br>
  <div>
  <div>
    <div ng-show="nRestServerSet" ng-include="'partials/nRestServerSet.html'"></div>
    <div ng-show="nHdfsEndpointSet" ng-include="'partials/nHdfsEndpointSet.html'"></div>
    <div ng-show="nKafkaEndpointSet" ng-include="'partials/nKafkaEndpointSet.html'"></div>
    <div ng-show="nHTContents" ng-include="'partials/nHTContents.html'"></div>
    <!-- <div ng-show="nTorrentStatus" ng-include="'partials/nTorrentStatus.html'"></div> -->
    <div ng-show="nHTUpload" ng-include="'partials/nHTUpload.html'"></div>
    <div ng-show="nHTDownload" ng-include="'partials/nHTDownload.html'"></div>
    <div ng-show="nHTStop" ng-include="'partials/nHTStop.html'"></div>
    <!--<div ng-show="nHopsDelete" ng-include="'partials/nHopsDelete.html'"></div>
    <div ng-show="nHopsCreate" ng-include="'partials/nHopsCreate.html'"></div>
    <div ng-show="nHopsAvroCreate" ng-include="'partials/nHopsAvroCreate.html'"></div> -->
    <div ng-show="nVoDEndpoint" ng-include="'partials/nVoDEndpoint.html'"></div>
    <!-- <div ng-show="nHopsConnection" ng-include="'partials/nHopsConnection.html'"></div> -->
    <div ng-show="nGraphs" ng-include="'partials/nGraphs.html'"></div>
  <div>
</div>